.navbar {
  width: 100%;
  height: 196px;
  margin-top: 40px;
  button {
    width: 940px;
    height: 50px;
    left: 0px;
    top: 6px;
    color: white;
    background: #204969;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    border: none;
  }
  .category {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    p {
      text-decoration: none;
      color: #aeaeae;
      font-size: 24px;
      padding-right: 110px;
      padding: 10px 110px 10px 0px;
      border-right: 1px solid #999999;
      cursor: pointer;
    }
    :nth-child(3) {
      border: none;
      padding: 10px 0;
    }
    .active {
      color: black;
    }
  }
}
