.todo-item {
  width: 100%;
  height: 289px;

  &__content {
    background-color: white;
    padding: 30px 30px 20px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  &__title {
    h1 {
      font-size: 28px;
      font-weight: 700;
    }
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__tabs {
    display: flex;
  }

  &__status {
    width: 135px;
    height: 42px;
    background-color: #ccfff4;
    text-align: center;
    border-radius: 4px;
    p {
      padding: 13px 0;
      font-size: 14px;
    }
  }
  &__priority {
    width: 135px;
    height: 42px;
    background-color: #08ffc8;
    text-align: center;
    border-radius: 4px;
    margin-right: 20px;

    p {
      padding: 13px 0;
      font-size: 14px;
    }
  }
  &__date {
    width: 135px;
    height: 42px;
    background-color: #ccfff4;
    text-align: center;
    border-radius: 4px;
    margin-right: 20px;

    p {
      padding: 13px 0;
      font-size: 14px;
    }
  }

  &__description {
    margin-top: 25px;
    p {
      font-size: 15px;
      color: #666666;
    }
  }

  &__buttons {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    .edit-btn {
      padding: 18px 20px 16px;
      color: #204969;
      font-size: 16px;
      border: 1px solid #204969;
      border-radius: 4px;
      cursor: pointer;
      margin-right: 20px;
      outline: none;
    }
    .add-btn {
      padding: 18px 20px 16px;
      font-size: 16px;
      background-color: #204969;
      color: white;
      border-radius: 4px;
      cursor: pointer;
      border: none;
    }
  }
}
